<%= form_tag('/search', method: 'GET') do %>

  <div class="search">

    <%= label_tag :hashtag %>
    <%= text_field_tag :hashtag %>

  </div>

  <div class="actions">
    <%= submit_tag 'search', id: 'search-button' %>
  </div>


<% end %>
